replicaCount: 2
image:
  repository: nginx
  tag: stable
  pullPolicy: IfNotPresent

service:
  type: NodePort
  port: 80
  nodePort: 30080

customPage: |
  <!DOCTYPE html>
  <html>
  <head><title>Welcome</title></head>
  <body>
    <h1>Hello from My Custom NGINX App!</h1>
    <p>Deployed via Helm & Terraform.</p>
  </body>
  </html>
